/* header hero */

.header {
        background-color: var(--dark-color);
        width: 100%;
        height: 600px
}

.hero {
        background-image:
                image-set(radial-gradient(circle at center, var(--lime-color) 0%, var(--dark-color) 100%) 1x,
                        url("../img/joker1x.webp") 1x,
                        url("../img/joker2x.webp") 2x);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 600px;
}

.header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
}

.logo-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        transition: all 0.3s ease;
}

.logo-wrapper:hover>p {
        cursor: pointer;
        color: var(--red-color);
        transition: all 0.3s ease;
}

.logo-text {
        font-size: 24px;
        font-weight: 700;
        color: var(--lime-color);
        margin: 0;
        transition: all 0.3s ease;
}

.common-nav {
        display: none;
}

.common-nav-list {
        display: flex;
        gap: 18px;
        flex-direction: row;
        padding-top: 8px;
}

.common-nav-item {
        font-size: 16px;
        color: var(--blue-color);
        cursor: pointer;
        background-color: var(--white-color);
        padding: 8px 16px;
        border-radius: 16px;
        transition: all 0.3s ease, color 0.3s ease
}

.common-nav-link {
        color: var(--blue-color);
        transition: all 0.3s ease;
}


.common-nav-item:hover {
        background-color: var(--red-color);
        color: var(--white-color);
        transition: all 0.3s ease;
}

.common-nav-item:hover>a {
        color: var(--white-color);
        transition: all 0.3s ease;
}

.hero-text {
        color: var(--white-color);
        font-size: 32px;
        text-align: center;
        margin: 420px auto 0px;
        max-width: 470px;
}

.hero-text-link {
        color: var(--lime-color);
        transition: all 0.3s ease;
}

.hero-text-link:hover {
        color: var(--red-color);
        transition: all 0.3s ease;
}

.roles-text {
        display: none;
}

/* main section */

.rules {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
}

.rules-decoration {
        background-image: url("../img/peak.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 290px;
        height: 348px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
}

.rules-decoration-text {
        color: var(--lime-color);
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        max-width: 150px;
        animation: shake 1s infinite;
        text-shadow: 2px 2px var(--red-color), -2px -2px #1cbea9;
}

.mobile-nav {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
}

.mobile-nav-list {
        display: flex;
        gap: 16px;
        flex-direction: row;
        margin: 0 auto;
}

.mobile-nav-item {
        font-size: 16px;
        color: var(--white-color);
        cursor: pointer;
        background-color: var(--blue-color);
        padding: 8px 16px;
        border-radius: 16px;
        transition: all 0.3s ease, color 0.3s ease;
        box-shadow: 1px 1px 4px var(--dark-color)
}

.mobile-nav-link {
        color: var(--white-color);
        transition: all 0.3s ease;
}

.mobile-nav-item:hover {
        background-color: var(--red-color);
        color: var(--white-color);
        transition: all 0.3s ease;
}

.rules-list {
        display: flex;
        gap: 24px;
        flex-direction: column;

}

.rules-item {
        color: var(--blue-color);
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 12xp;
        text-align: center;
}

.rules-item-header {
        font-weight: 700;
}

/* tablet styles */

@media (min-width: 744px) and (max-width: 1199px) {
        .common-nav {
                display: block;
        }

        .hero-text {
                color: var(--white-color);
                font-size: 32px;
                text-align: left;
                margin: 160px auto 0px 0px;
                max-width: 420px;
                width: 320px;
        }

        .roles-text {
                display: block;
                color: var(--white-color);
                font-size: 32px;
                text-align: right;
                margin: 16px 0px 0px auto;
                max-width: 470px;
                width: 320px;
        }

        .mobile-nav {
                display: none;
        }

        .rules-decoration {
                width: 409px;
                height: 487px;

        }

        .rules-decoration-text {
                font-size: 32px;
                max-width: 186px;
        }

        .rules-item {
                font-size: 28;
        }
}

/* desktop styles */

@media (min-width: 1200px) {
        .mobile-nav {
                display: none;
        }

        .common-nav {
                display: block;
        }

        .hero-text {
                display: block;
                text-align: left;
                margin: 160px auto 0px 64px;
                max-width: 470px;
                width: 320px;
        }


        .roles-text {
                display: block;
                text-align: right;
                margin: 16px 64px 0px auto;
                max-width: 470px;
                width: 320px;
        }

        .rules {
                flex-direction: row;
                align-items: center;
        }

        .rules-list {
                max-width: 488px;
                margin-top: 40px;
        }

        .rules-item {
                text-align: left;
                gap: 8px
        }

        .rules-decoration {
                width: 409px;
                height: 487px;

        }

        .rules-decoration-text {
                font-size: 32px;
                max-width: 186px;
        }
}

@keyframes shake {
        0% {
                transform: translate(0, 0) rotate(0deg);
        }

        20% {
                transform: translate(-1px, 1px) rotate(-1deg);
        }

        40% {
                transform: translate(-1px, -1px) rotate(1deg);
        }

        60% {
                transform: translate(1px, 1px) rotate(0deg);
        }

        80% {
                transform: translate(1px, -1px) rotate(1deg);
        }

        100% {
                transform: translate(0, 0) rotate(-1deg);
        }
}